:root {
    --cor-fundo:#FFA07A ;
    --cor-principal:#800000 ;
    --cor-secundaria:#B22222 ;
    --cor-destaque:#FF6347 ;
    --cor-texto: white ;
}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh
}

.caixa-principal {
    background-color: var(--cor-fundo);
    width: 90%;
    max-width: 600px;

}